{% extends 'base.html.twig' %}

{% block title %}Gebruiker aanpassen{% endblock %}

{% block main %}
    <h1>Gebruiker aanpassen</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

{#    <a href="{{ path('user_index') }}">back to list</a>#}

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
