{% extends 'base.html.twig' %}

{% block title %}Nieuwe gebruiker{% endblock %}

{% block main %}
    <h1>Maak nieuwe gebruiker</h1>

    {{ include('user/_form.html.twig') }}

{#    <a href="{{ path('user_index') }}">back to list</a>#}
{% endblock %}
